body{
background-color: #fff;
text-align: center;
}

.state rect {
  /*
  fill: #18BC9C;
  fill:#2098d1;
*/
  stroke: #2098d1;
  stroke-width: 5px;
  fill:#18BC9C;
  opacity: 0.3;
}

.state text {
  font: 15px sans-serif;
  text-anchor: middle;
}

.state rect:hover {
  fill: white ;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 130px;
    height: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}